<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="bw-runtime">
<locations>

<location path="/C:/tibco83eb/bwce/palettes/kafka/6.6//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco83eb/bwce/palettes/kafka/6.6//runtime/plugins" type="Directory"/>
<location path="/C:/tibco83eb/bwce/palettes/sap/8.6//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco83eb/bwce/palettes/sap/8.6//runtime/plugins" type="Directory"/>
<location path="/C:/tibco83eb/bwce/palettes/sp/6.1//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco83eb/bwce/palettes/sp/6.1//runtime/plugins" type="Directory"/>


<location path="C:/tibco83eb/bwce/2.8/system/hotfix/lib/common" type="Directory"/>
<location path="C:/tibco83eb/bwce/2.8/system/lib/common" type="Directory"/>

<location path="C:/tibco83eb/bwce/2.8/system/hotfix/palettes" type="Directory"/>
<location path="C:/tibco83eb/bwce/2.8/system/palettes" type="Directory"/>

<location path="C:/tibco83eb/bwce/2.8/system/hotfix/shared" type="Directory"/>
<location path="C:/tibco83eb/bwce/2.8/system/shared" type="Profile"/>
</locations>
</target>
