<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="bw-runtime">
<locations>

<location path="/opt/tibcoapps/bwce/version272/bwce/palettes/saphanadatabase/6.0//hotfix/runtime/plugins" type="Directory"/>
<location path="/opt/tibcoapps/bwce/version272/bwce/palettes/saphanadatabase/6.0//runtime/plugins" type="Directory"/>
<location path="/opt/tibcoapps/bwce/version272/bwce/palettes/amazons3/6.5//hotfix/runtime/plugins" type="Directory"/>
<location path="/opt/tibcoapps/bwce/version272/bwce/palettes/amazons3/6.5//runtime/plugins" type="Directory"/>
<location path="/opt/tibcoapps/bwce/version272/bwce/palettes/sap/8.6//hotfix/runtime/plugins" type="Directory"/>
<location path="/opt/tibcoapps/bwce/version272/bwce/palettes/sap/8.6//runtime/plugins" type="Directory"/>
<location path="/opt/tibcoapps/bwce/version272/bwce/palettes/kafka/6.5//hotfix/runtime/plugins" type="Directory"/>
<location path="/opt/tibcoapps/bwce/version272/bwce/palettes/kafka/6.5//runtime/plugins" type="Directory"/>
<location path="/opt/tibcoapps/bwce/version272/bwce/palettes/s4hanacloud/6.3//hotfix/runtime/plugins" type="Directory"/>
<location path="/opt/tibcoapps/bwce/version272/bwce/palettes/s4hanacloud/6.3//runtime/plugins" type="Directory"/>
<location path="/opt/tibcoapps/bwce/version272/bwce/palettes/sp/6.1//hotfix/runtime/plugins" type="Directory"/>
<location path="/opt/tibcoapps/bwce/version272/bwce/palettes/sp/6.1//runtime/plugins" type="Directory"/>
<location path="/opt/tibcoapps/bwce/version272/bwce/palettes/adb/8.5//hotfix/runtime/plugins" type="Directory"/>
<location path="/opt/tibcoapps/bwce/version272/bwce/palettes/adb/8.5//runtime/plugins" type="Directory"/>
<location path="/opt/tibcoapps/bwce/version272/bwce/palettes/files/8.3//hotfix/runtime/plugins" type="Directory"/>
<location path="/opt/tibcoapps/bwce/version272/bwce/palettes/files/8.3//runtime/plugins" type="Directory"/>


<location path="/opt/tibcoapps/bwce/version272/bwce/2.7/system/hotfix/lib/common" type="Directory"/>
<location path="/opt/tibcoapps/bwce/version272/bwce/2.7/system/lib/common" type="Directory"/>

<location path="/opt/tibcoapps/bwce/version272/bwce/2.7/system/hotfix/palettes" type="Directory"/>
<location path="/opt/tibcoapps/bwce/version272/bwce/2.7/system/palettes" type="Directory"/>

<location path="/opt/tibcoapps/bwce/version272/bwce/2.7/system/hotfix/shared" type="Directory"/>
<location path="/opt/tibcoapps/bwce/version272/bwce/2.7/system/shared" type="Profile"/>
</locations>
</target>
